$primary-1-color: #607d8b;
$primary-2-color: #546e7a;
$primary-3-color: #455a64;
$accent-1-color: #00acc1;
$accent-2-color: #0097a7;
$accent-3-color: #00838f;
// input
$input-width: 280px;
$input-font-size: 16px;
$input-placeholder-size: 13px;
$input-error-color: #9e002c;
$input-bar-height: 2px;
