$chineseEggplant: #A28BD9;
$schoolBus:       #FFD900;
$agingCilantro:   #9FC439;
$cranberry:       #D64564;
$skyBlue:         #78cae6;
$light_gray:      #E6E6E6;
$cream:           #FFFFCC;
$arsenic:         #40494D;
$tornadoGray:     #647278;