@import "core/vars";
@import "material-ui";

* {
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
    margin:0;
    padding:0;
}
body{
    background:$grey-100;
    color:$blue-grey-900;
    font-family: 'Roboto', sans-serif;
}

//////////////
// COMPONENTS
//////////////

@import "./components/_investment_card.scss";

