
@import "../../node_modules/material-ui-sass/material-ui";
@import "./core/vars";
@import "./core/mixins";
@import "./core/utilities";


* {
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
    margin:0;
    padding:0;
}
body{
    background:$light_gray;
    color:$arsenic;
    font-family: 'Roboto', sans-serif;
}

//////////////
// COMPONENTS
//////////////

@import "./components/_investment_card.scss";

