$InvestmentCardStatefulAreaHeight: 136px;
.investment-card{
  position:relative;
  float: left;
  width:300px;
  height:642px;
  margin:20px;
  background: $grey-50;
  box-shadow: 0 0 20px rgba($blue-grey-900,0.5);
  transition: box-shadow .5s;
  &.PENDING{
    box-shadow: 0 0 5px rgba($blue-grey-900,0.2);
  }
  &.OPEN:hover{
    box-shadow:  1px  1px 0 rgba($accent-1-color,1),
                -1px -1px 0 rgba($accent-1-color,1),
                 1px -1px 0 rgba($accent-1-color,1),
                -1px  1px 0 rgba($accent-1-color,1),

                 2px  2px 0 rgba($accent-1-color,1),
                -2px -2px 0 rgba($accent-1-color,1),
                 2px -2px 0 rgba($accent-1-color,1),
                -2px  2px 0 rgba($accent-1-color,1),

                 3px  3px 0 rgba($accent-1-color,1),
                -3px -3px 0 rgba($accent-1-color,1),
                 3px -3px 0 rgba($accent-1-color,1),
                -3px  3px 0 rgba($accent-1-color,1);
  }
  &.FUNDED{
    box-shadow:  1px  1px 0 rgba($accent-2-color,1),
                -1px -1px 0 rgba($accent-2-color,1),
                 1px -1px 0 rgba($accent-2-color,1),
                -1px  1px 0 rgba($accent-2-color,1),

                 2px  2px 0 rgba($accent-2-color,1),
                -2px -2px 0 rgba($accent-2-color,1),
                 2px -2px 0 rgba($accent-2-color,1),
                -2px  2px 0 rgba($accent-2-color,1),

                 3px  3px 0 rgba($accent-2-color,1),
                -3px -3px 0 rgba($accent-2-color,1),
                 3px -3px 0 rgba($accent-2-color,1),
                -3px  3px 0 rgba($accent-2-color,1);
  }
}

.investment-card .banner{
  position: absolute;
  padding: 8px 15px;
  top: 10px;
  right: -8px;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  font-weight: 700;
  color:$grey-50;
  &.open{
    transition: background, .5s;
    background: $accent-1-color;
  }
  &.funded{
    transition: background, .5s;
    background: $accent-2-color;
  }
}
.investment-card_image-wrapper{
  width:100%;
  height:225px;
  background: $blue-grey-300;
}

.investment-card_text-wrapper{
  float:left;
  padding: 0 10px;
  width: 100%;
  h1{
    margin-bottom:0;
  }
  p{
      font-size: 13px;
      line-height: 20px;
      padding-top: 6px;
      margin-bottom: 8px;
      letter-spacing: 0;

  }
  .companyDetails {
    float: left;
    min-height: 170px;
  }
}


.invest-form {
  float: left;
  margin: 10px 0;
  padding:10px;
  height: $InvestmentCardStatefulAreaHeight;
  
  .mui-input {
    margin-bottom: 32px;
  }
  .invest-button {
    margin-bottom: 10px;
  }
  .mui-raised-button .mui-raised-button-container.mui-is-disabled {
    background-color: #e6e6e6;
  }
  .mui-raised-button .mui-raised-button-container.mui-is-disabled:hover {
    background-color: #e6e6e6;
  }
  .mui-input input{
    text-align: center;
    padding: 6px;
  }
  .mui-input input ~ .mui-input-placeholder{
    width:100%;
    text-align: center;
  }
  .mui-input input:focus ~ .mui-input-placeholder,
  .mui-input input:not(:focus).mui-is-not-empty  ~ .mui-input-placeholder{
    text-align: center;
    top:-22px;
  }
  .mui-input-description{
    width: 100%;
    text-align: center;
  }
}
.invest-button-wrapper{
  float:left;
  width:100%;
  text-align: center;
}
.mui-input .mui-input-description {
  color: $blue-grey-500;
  font-size:13px;
  top:38px;
}

.investment-card-pending-state{

  height:($InvestmentCardStatefulAreaHeight + 80);
  margin: 10px 0;
  text-align: center;
  p{ margin-bottom: 0;}
  p.remind-me-label{
    margin-top: -16px;
  }
  h3{margin-bottom: 0;color:$accent-1-color; }
  h4{margin-bottom: 0; padding-top: 10px;}
}

.investment-card-invested-state{
  opacity: 0;
  transition: opacity, 1s;
  float: left;
  height: $InvestmentCardStatefulAreaHeight;
  margin: 10px 0;
  width:100%;
  text-align: center;
  h3{ margin-bottom:0;}
  h4{color:$accent-1-color;}
}


.investment-card-funded-state{
  opacity: 0;
  transition: opacity, 1s;
  float: left;
  height: $InvestmentCardStatefulAreaHeight;
  margin: 10px 0;
  width:100%;
  text-align: center;
  p{ margin-bottom: 0;}
  h3{ margin-bottom:0;
    color:$accent-3-color;
  }
  h4{color:$accent-1-color; padding-top: 0}
}


.invest-card-progress-bar-wrapper{
  float:left;
  width:100%;
}
.invest-card-progress-bar {
  position: relative;
  float: left;
  width: 100%;
  height: 10px;
  background: $grey-300;
  margin-bottom: 10px;
  overflow: hidden;
}
.invest-card-progress-bar-complete{
  position: absolute;
  background:$accent-3-color;
  height:10px;
  -webkit-transition: width 1s;
  transition: width 1s;
}
.invest-card-progress-bar-user-contribution{
  position: absolute;
  background:$accent-1-color;
  height:10px;
  -webkit-transition: width 1s;
  transition: width 1s;
}
.invest-card-progress-bar-details-balance{
  width:50%;
  float:left;
  @extend %mui-font-style-caption;
  & a.view-investors{
    text-decoration: underline;
    cursor: pointer;
  }
}
.invest-card-progress-bar-details-goal{
  width:50%;
  float:left;
  @extend %mui-font-style-caption;
  text-align: right;
}

